// Place all the styles related to the predictions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.predictions_form {

  .error_message {
    color: red;
    display: none;
  }

  .prediction_list {
    list-style-type: none;
    margin-left: 0;

    .error {
      color: red;
    }

    .prediction {

      margin-bottom: 16px;
      margin-left: 0;
      .home_team, .away_team {
        width: 64px;
        height: 64px;
        margin: 0;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
      }

      .home_team_score, .away_team_score {
        width: 64px;
        height: 64px;
        margin-left: 0;
        font-size: 28px;
        vertical-align: middle;
      }

      goal_scorer, additional_goal_scorer {
        display: block;
      }
    }
  }
}






